<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <p>
            Input audio secrets:
        </p>
        <script type="text/javascript">
            function submit() {
                var selectedFile = document.querySelector('#audfile').files[0];
                var formData = new FormData();
                formData.append('file', selectedFile);

                $.ajax({
                type: 'POST',
                url: '/aud_split',
                data: formData,
                processData: false,
                contentType: false,
                success:function() {

                }});
            }
        </script>
        <input type="file" name="file" id="audfile" accept=".mp3">
        <input type="button" id="aud_btn" onclick="submit()" value="submit">

        <br /> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>

</html>