<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <style>
            body {
                margin: 10px;
            }
            img {
                width:auto;
                max-width:10%;
                height:auto;
            }
        </style>
        <script type="text/javascript">
            function submit() {
                var selectedFile = document.querySelector('#imagefile').files[0];
                var formData = new FormData();
                formData.append('file', selectedFile);

                $.ajax({
                type: 'POST',
                url: '/img_split',
                data: formData,
                processData: false,
                contentType: false,
                success:function(fp) {
                    var img = document.getElementById("preview");
                    img.src = fp;
                }});
            }

            function demo() {
                document.getElementById('done').innerHTML = "Please wait for the system...";
                var selectedFile = document.querySelector('#imagefile').files[0];
                var formData = new FormData();
                formData.append('file', selectedFile);

                $.ajax({
                type: 'POST',
                url: '/img_demo',
                data: formData,
                processData: false,
                contentType: false,
                success:function(fp) {
                    document.getElementById('done').innerHTML = "Done!";
                    //var i;
                    //for (i = 0; i < 10; ++i) {
                    //    var idname = "share" + i.toString();
                    //    var img = document.getElementById(idname);
                    //    img.src = fp[i];
                    //    console.log(fp[i]);
                    //}
                }});
            }

            function check_shares() {
                var valid = true;
                var selectedFile = document.getElementById("imagefile");
                //TODO: check the shares function

                if ("" == selectedFile.value) {
                    valid = false;
                }
                if (Boolean(valid) === false) {
                    alert("No file selected.")
                }
                if (Boolean(valid) === true) {
                    window.location.href = "/img_combine";
                }
            }
        </script>

    </head>

    <body>

    <p>
        Input your image secret:
    </p>

    <input type="file" name="file" id="imagefile" accept=".jpg, .jpeg, .png">
    <input type=button id="img_btn" value="preview" onclick="submit()">

    <input type=button id="img_demo" value="demo" onclick="demo()">
    <div>
        <img src="" id="preview" width="50%">
    </div>

    <div>
        <span id="done"></span>
    </div>

    <br /><br />
    <!--<a href="{{ url_for('img_demo')}}"> See the demo of shares!</a>-->
    <input type="button" id="combine_btn" value="Download Shares" onclick="check_shares()">
    <br /> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>

</html>