<html>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    share1:
    <a href="{{ fp0 }}" download="1">Download 01</a>

    <br /><br />
    share2:
    <a href="{{ fp1 }}" download="2">Download 02</a>
    <br /><br />

    share3:
    <a href="{{ fp2 }}" download="3">Download 03</a>
    <br /><br />

    share4:
    <a href="{{ fp3 }}" download="4">Download 04</a>
    <br /><br />

    share5:
    <a href="{{ fp4 }}" download="5">Download 05</a>
    <br /><br />

    share6:
    <a href="{{ fp5 }}" download="6">Download 06</a>
    <br /><br />

    share7:
    <a href="{{ fp6 }}" download="7">Download 07</a>
    <br /><br />

    share8:
    <a href="{{ fp7 }}" download="8">Download 08</a>
    <br /><br />

    share9:
    <a href="{{ fp8 }}" download="9">Download 09</a>
    <br /><br />

    share10:
    <a href="{{ fp9 }}" download="10">Download 10</a>
    <br /><br />
    <script type="text/javascript">
        function combine() {
            var selectedFile0 = document.querySelector('#share0').files[0];
            var selectedFile1 = document.querySelector('#share1').files[0];
            var selectedFile2 = document.querySelector('#share2').files[0];
            var formData = new FormData();
            formData.append('file0',selectedFile0);
            formData.append('file1',selectedFile1);
            formData.append('file2',selectedFile2);
            console.log(formData.getAll('file0'));
            var img = document.getElementById("img_secret");
            $.ajax({
                url:'/img_combine_c',
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function(fp){
                    console.log(fp);
                    console.log(typeof fp);
                    img.src = fp;
                }
            });
        }
    </script>

    <label for="share0">Select share1:</label>
    <input type="file" id="share0" name="myfile" accept=".jpg, .jpeg, .png">
    <br /><br />

    <label for="share1">Select share2:</label>
    <input type="file" id="share1" name="myfile" accept=".jpg, .jpeg, .png">
    <br /><br />

    <label for="share2">Select share3:</label>
    <input type="file" id="share2" name="myfile" accept=".jpg, .jpeg, .png">
    <br /><br />

    <input type="button" id="combine_btn" onclick="combine()" value="Combine!">
    <br /><br />
    <img src="" id="img_secret">

    <br /><br />
    <a href="{{ url_for('image_secrets') }}">Import another secret</a>
    <br /> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>

</body>
</html>