<!DOCTYPE html>
<html>
  <head>
      <script type="text/javascript">

      </script>
      <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <h1>Welcome to our FYP page!</h1>
    <p>
      <b>Final Year Project</b>: A Software Implementation of SSSS
    </p>
    <p>
      <b>Teammates</b>: MENG Zihan, WANG Tiantian, ZHANG Yi
    </p>
    <a href="{{ url_for('text_secrets') }}">Text Secrets</a>
    <a href="{{ url_for('image_secrets') }}">Image Secrets</a>
  </body>
</html>
