<!DOCTYPE html>
<html>
    <head>
        <style>
                body {
                  /*background-color: rgb(229,207,255);*/
                  font-family: myriad-pro, sans-serif;
                  font-style: normal;
                  font-weight: 300;
                  text-align: center;
                }
        </style>
      <script type="text/javascript">

      </script>
    </head>
    <body>
    <h1>Welcome to our FYP page!</h1>
    <p>
      <b>Final Year Project</b>: A Software Implementation of SSSS
    </p>
    <p>
      <b>Teammates</b>: MENG Zihan, WANG Tiantian, ZHANG Yi
    </p>
    <a href="{{ url_for('text_secrets') }}">Text Secrets</a>
    <a href="{{ url_for('image_secrets') }}">Image Secrets</a>
  </body>
</html>
