<!DOCTYPE html>
<html>
    <head>
        <style>
                body {
                  /*background-color: rgb(229,207,255);*/
                  font-family: myriad-pro, sans-serif;
                  font-style: normal;
                  font-weight: 300;
                  text-align: center;
                }
        </style>
      <script type="text/javascript">

      </script>
    </head>
    <body>
    <h1>Welcome to our FYP demo page!</h1>
    <p>
      <b>Teammates:</b> MENG Zihan, WANG Tiantian, ZHANG Yi
    </p>
    <p>
      <b>Project topic:</b> A Software Implementation of Shamir's Secret Sharing Scheme
    </p>
    <p>
      <b>Project id:</b> CD1
    </p>
    <p>
        Introduction of ssss should be updated here
    </p>
    <a href="{{ url_for('text_secrets') }}">Text Secrets</a>
    &nbsp;&nbsp;<a href="{{ url_for('image_secrets') }}">Image Secrets</a>
    &nbsp;&nbsp;<a href="{{ url_for('aud_secrets') }}">Audio Secrets</a>
    <br /><br /> <a href="{{ url_for('c_text_secrets') }}">Text Secrets (Cheating Detection)</a>
  </body>
</html>
