<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <p>
            <b>Shares Generation</b>
        </p>

        <table summary="layout">
            <tbody>
            <tr>
                <td aligh="right">Secret: </td>
                <td>
                    <input type="text" name="secret_string" id="secret_string" size="32" value="this is secret">
                </td>
            </tr>
            <tr>
                <td aligh="right">Number of Shares: </td>
                <td>
                    <input type="text" name="intercept" id="intercept" size="32" value="10">
                </td>
            </tr>
            <tr>
                <td aligh="right">Shares needed for reconstruct: </td>
                <td>
                    <input type="text" name="degree_add1" id="degree_add1" size="32" value="3">
                </td>
            </tr>
            <tr>
                <td aligh="right">Field base(multiple of 8): </td>
                <td>
                    <input type="text" name="field_base" id="field_base" size="32" value="8">
                </td>
            </tr>

            </tbody>
        </table>
        <!--<input type = "button" onclick = split() value = "Split!" />-->
        <script type="text/javascript">
        var secret = document.getElementById('secret_string').value;
        var intercept = document.getElementById('intercept').value;
        var degree = document.getElementById('degree_add1').value;
        var field_base = document.getElementById('field_base').value;
        var params = {secret:secret, intercept:intercept, degree:degree, field_base:field_base};
        console.log(params);
        var cars = [
            { "make":"Porsche", "model":"911S" },
            { "make":"Mercedes-Benz", "model":"220SE" },
            { "make":"Jaguar","model": "Mark VII" }
        ];
        var myjson = JSON.stringify(params);
        window.onload = function() {
	        document.getElementById("split_btn").onclick = function() {
		        split()
	        };
        }
        function split() {
            $.post( '/split', {secret:secret, intercept:intercept, degree:degree, field_base:field_base}, function() {});
        // event.preventDefault();
        }
        </script>
        <a href="{{ url_for('text_split') }}" id="split_btn">Split!</a>
        <br /> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>
</html>