<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
              /*background-color: rgb(229,207,255);*/
              font-family: myriad-pro, sans-serif;
              font-style: normal;
              font-weight: 300;
              text-align: left;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <p>
            <b>Shares Generation</b>
        </p>

        <table summary="layout">
            <tbody>
            <tr>
                <td aligh="right">Secret: </td>
                <td>
                    <input type="text" name="secret_string" id="secret_string" size="32" value="this is secret">
                </td>
            </tr>
            <tr>
                <td aligh="right">Number of Shares: </td>
                <td>
                    <input type="text" name="intercept" id="intercept" size="32" value="10">
                </td>
            </tr>
            <tr>
                <td aligh="right">Shares needed for reconstruct: </td>
                <td>
                    <input type="text" name="degree_add1" id="degree_add1" size="32" value="3">
                </td>
            </tr>
            <tr>
                <td aligh="right">Field base(multiple of 8): </td>
                <td>
                    <input type="text" name="field_base" id="field_base" size="32" value="8">
                </td>
            </tr>

            </tbody>
        </table>
        <!--<input type = "button" onclick = split() value = "Split!" />-->
        <script type="text/javascript">
        function split() {
            var secret = document.getElementById('secret_string').value;
            var intercept = document.getElementById('intercept').value;
            var degree = document.getElementById('degree_add1').value;
            var field_base = document.getElementById('field_base').value;
            $.post( '/split', {secret:secret, intercept:intercept, degree:degree, field_base:field_base}, function(shares) {
                var split_shares = shares.split(/\n/);
                var shares_str = '';
                for (let step = 0; step < split_shares.length-1; step++) {
                    shares_str += split_shares[step] + '<br />';
                }
                var div = document.getElementById("shares_box");
                div.innerHTML = shares_str;
            });
        // event.preventDefault();
        }
        </script>
        <br />
        <input type="button" id="split_btn" onclick="split()" value="Split!">
        <br /> <br />

        <p>
            <b>Shares:</b>
        </p>
        <style>
            .boxed {
              width: 600px;
              height: 300px;
              border: 1px dashed grey ;
              margin: 20px;
              padding: 20px;
            }
        </style>
        <div class="boxed" style="overflow-y: scroll; height:400px;" id="shares_box">

        </div>
        <br /> <br />

        <p>
            <b>Combine:</b>
        </p>
         <table summary="layout">
            <tbody>
            <tr>
                <td aligh="right">Shares needed for reconstruct: </td>
                <td>
                    <input type="text" name="degree_add1" id="re_degree_add1" size="32" value="3">
                </td>
            </tr>
            <tr>
                <td aligh="right">Field base(multiple of 8): </td>
                <td>
                    <input type="text" name="field_base" id="re_field_base" size="32" value="8">
                </td>
            </tr>
            <tr>
                <td aligh="right">Shares: </td>
                <td>
                    <textarea name="textarea" id="re_shares" style="width:250px;height:150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td aligh="right">The Secret: </td>
                <td>
                    <textarea readonly id="re_secret">

                    </textarea>
                </td>
            </tr>

            </tbody>
        </table>
        <br />
        <script type="text/javascript">
        function combine() {
            var degree = document.getElementById('re_degree_add1').value;
            var field_base = document.getElementById('re_field_base').value;
            var shares = document.getElementById('re_shares').value;
            console.log(shares);
            console.log(typeof shares);
            $.post( '/combine', {degree:degree, field_base:field_base, shares:shares}, function(secret) {
                console.log(secret);
                console.log(typeof secret);
                var re_secret = document.getElementById("re_secret");
                re_secret.innerHTML = secret;
            });
        // event.preventDefault();
        }
        </script>
        <input type="button" id="combine_btn" onclick="combine()" value="Combine!">

        <br /> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>
</html>