<!--try to extend text_secrets.html page-->
{% extends "text_secrets.html" %}
<html>
    <body>
        <p>
            <b>Shares Generation</b>
        </p>
        <script>
            let shares = '{{ split }}';
            console.log(shares);
            alert(shares);
        </script>

        <!--<input type = "button" onclick = split() value = "Split!" />-->
        <!--<HR class="style_one" />-->
        <a href="{{ url_for('text_split') }}">Split!</a> <br />
        <a href="{{ url_for('index') }}">Back to Main Page</a>
    </body>
</html>
